@model Assignment20.Models.CityWeather

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string convertToTime(DateTime dt)
    {
        string time = dt.ToString("hh:mm tt");
        return time;
    }

    string GetTempClass(int temp)
    {
        if (temp < 44) return "blue-back";
        else if (temp >= 44 && temp <= 74) return "green-back";
        return "orange-back";
    }
}

<div class="box @GetTempClass(Model.TemperatureFahrenheit)">
    <div class="left-section">
        <h3>@Model.CityName</h3>
        <p class="margin-bottom-5">@convertToTime(Model.DateAndTime)</p>
        <a class="cursor-pointer text-blue" href="/weather/@Model.CityUniqueCode">Details</a>
    </div>
    <div class="vertical-line"></div>
    <div class="right-section">
        <p><span style="font-weight: bold">@Model.TemperatureFahrenheit</span> <sup class="text-grey">°F</sup></p>
    </div>
</div>
