@using Assignment18.Models
@model List<CityWeather>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/stylesheet.css" rel="stylesheet" />
</head>
<body>
    <div class="flex margin-top-200">
        @foreach(var city in Model)
        {
            @await Html.PartialAsync("_Partial", city)
        }
    </div>
</body>
</html>

